::-moz-selection {
 background-color: #b9a06f;
 color: #FFF;
}
::selection {
	background-color: #b9a06f;
	color: #FFF;
}


.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_2.gif) center no-repeat #fff;
}
.main {
	padding: 0 40px;
	margin-bottom: 40px;
	position: relative;
}
img {
	height: auto;
	max-width: 100%;
	border: none;
	outline: none;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
a, a:focus, a:active, a:link, img {
	outline: none;
	text-decoration: none;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: #6d6d6d;
	transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
}
a:hover {
	color: #b9a06f;
	text-decoration: none;
	transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
}
br {
	font-size: 0;
	line-height: 0;
}
hr {
	margin-bottom: 0px;
	margin-top: 0px;
	border-top: 1px solid #f1f1f1;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0;
}
.position-r {
	position: relative;
}
.align-center {
	text-align: center;
}
.dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6, .dark-bg p {
	color: #fff;
}
.dark-bg {
	background: #222;
	color: #fff;
}
.gray-bg {
	background: #f5f5f5;
}
.middle-800 p {
	display: inline-block;
	max-width: 800px;
}
.middle-580 p {
	display: inline-block;
	max-width: 580px;
}
/* - Headings Style   //---------------- */

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #222;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 10px;
	letter-spacing: -0.5px;
}
h1 {
	font-size: 43px;
	letter-spacing: 1px;
	line-height: 40px;
}
h2 {
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 20px;
}
h3 {
	font-size: 21px;
	line-height: 32px;
}
h2.heading {
	font-size: 25px;
	line-height: 32px;
}
h4 {
	font-size: 17px;
	line-height: 28px;
}
h5 {
	font-size: 15px;
	line-height: 23px;
	font-weight: 600;
}
h6 {
	font-size: 13px;
	line-height: 17px;
	font-weight: 600;
}
/* - Button Style  //----------------*/ 
/* - Form Style */ 
select {
	background: url(../images/select-icon.png) no-repeat scroll right 50% #fff !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #eaeaea;
	padding: 7px 24px 7px 5px;
	line-height: 18px;
}
.full select {
	width: 100%;
}
.main-form textarea {
	max-width: 100%;
}
.main-form input, .main-form textarea, .main-form select {
	background: #fff;
	padding: 8px 15px;
	width: 100%;
	border: 1px solid #eaeaea;
	min-height: 40px;
}
.check-box label {
	color: #222;
	display: inline;
	font-size: 15px;
	font-weight: 400;
}
.checkout-section .check-box input[type="checkbox"] {
	margin: 5px 0 0;
	min-height: 1px;
}
/* - Spacer Style  //---------------- */

.right-side {
	float: right;
}
.left-side {
	float: left;
}
.plr-20 {
	padding-left: 10px;
	padding-right: 10px;
}
.mlr_-20 {
	margin-left: -10px;
	margin-right: -10px;
}
.ptb-95 {
	padding-top: 95px;
	padding-bottom: 95px;
}
.pt-95 {
	padding-top: 95px;
}
.pb-95 {
	padding-bottom: 95px;
}
.p-0 {
	padding: 0px;
}
.mtb-60 {
	margin-top: 60px;
	margin-bottom: 60px;
}
.mt-60 {
	margin-top: 60px;
}
.mb-60 {
	margin-bottom: 60px;
}
.mtb-40 {
	margin-top: 40px;
	margin-bottom: 40px;
}
.mt-40 {
	margin-top: 40px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mtb-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.mt-30 {
	margin-top: 30px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mtb-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.mt-20 {
	margin-top: 20px;
}
.mb-20 {
	margin-bottom: 20px;
}
.m-0 {
	margin: 0px;
}

/* - Newsletter   //----------------- */

#newslater-popup {
    max-width: 930px;
    margin: 0 auto;
    position: relative;
}

.nl-popup-main {
    display: block;
    background: url(../images/popup.jpg) no-repeat top right;
    overflow: hidden;
    
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
}

.nl-popup-inner {
    border: 2px solid #fff;
    margin: 20px;
    display: block;
    overflow: hidden;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
}

#newslater-popup .newsletter-inner {
	background: transparent;
	padding: 30px 60px;
}
#newslater-popup .newsletter-inner span {
	margin-bottom: 35px;
}
#newslater-popup .newsletter-inner input {
	width: 270px;
}
#newslater-popup  button.mfp-close {
	background-color: #fff;
	color: #000;
	opacity: 1;
	top: 20px;
	right: 20px;
}
#newslater-popup button.mfp-close:hover, #newslater-popup button.mfp-close:focus {
	background-color: #cecece;
}


/* Product Detail Page Start */

/* -- Product Zoom Slider Start -- */
.fotorama__nav--thumbs {
	margin-top: 15px;
}
.fotorama__nav__frame.fotorama__nav__frame--thumb {
	height: auto !important;
	margin: 0 8px;
	opacity: 0.3;
}
.fotorama__nav__frame.fotorama__nav__frame--thumb.fotorama__active {
	opacity: 1;
}
.fotorama__img {
	position: relative;
	top: 0 !important;
}
.fotorama__thumb-border {
	display: none !important;
}
.fotorama__nav::before, .fotorama__stage::before {
	background-image: none;
}
.fotorama__nav::after, .fotorama__stage::after {
	background-image: none;
}
/* -- Product Zoom Slider End -- */

.product-detail-main .product-item-details .product-item-name {
	font-size: 22px;
	font-family: "Raleway", sans-serif;
	margin-bottom: 0;
}
.product-listing .shop-list-view .product-item {
	margin-bottom: 0;
}
.product-detail-main .price-box .price {
	font-size: 22px;
}
.product-detail-main .rating-summary-block {
	margin-bottom: 20px;
}
.product-info-stock-sku {
	margin-top: 5px;
	margin-bottom: 15px;
}
.product-info-stock-sku > div {
	display: inline-block;
	margin-right: 20px;
}
.product-info-stock-sku label {
	font-weight: 400;
}
.product-info-stock-sku .price-box {
	display: inline-block;
}
.product-info-stock-sku .info-deta {
	text-transform: uppercase;
	font-weight: bold;
}
.form-control {
	border-color: #dedede;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
	height: 40px;
}
.form-control:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.product-qty {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.custom-qty {
	display: inline-flex;
}
.increase.items, .reduced.items {
	background: transparent;
	border: 1px solid #dedede;
	color: #888;
	padding: 13px 15px 12px;
	float: left;
}
.input-text.qty {
	border: 1px solid #dedede;
	max-width: 50px;
	padding: 4px 13px;
	float: left;
	text-align: center;
	margin: 0 -1px;
}
.share-link {
	margin-top: 30px;
}
.share-link label {
	font-weight: 400;
	float: left;
	margin-top: 6px;
	margin-right: 10px;
}
/* Product Page Tab CSS Start */
.nav-tabs {
	border-bottom: 1px solid #e1e1e1;
}
.nav-tabs > li > a {
	border-color: #eee #eee #ddd;
}
.product-detail-tab {
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
.product-detail-tab .nav > li > a {
	background-color: transparent;
	text-decoration: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	border: none;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	letter-spacing: -0.5px;
	color: #000;
}
.product-detail-tab .nav > li:first-child > a {
	padding-left: 0;
}
.nav-tabs > li > a.selected, .nav-tabs > li > a.selected:hover, .nav-tabs > li > a.selected:focus {
	border: none;
	color: #b9a06f;
}
.tab_content {
	border: 1px solid #e1e1e1;
	border-top: 0;
	padding: 20px;
}
.Description, .items-Product-Tags, .items-Reviews, .comments-area-main {
	line-height: 25px;
}
.tab_content ul li strong {
	font-weight: 500;
	color: #222;
}
.items-Description, .items-Product-Tags, .items-Reviews {
	display: none;
}
.items-Description.selected, .items-Product-Tags.selected, .items-Reviews.selected {
	display: block;
}
/* Product Page Tab CSS End */

/* Comment CSS START ------------------ */
.comment-list > li {
	padding-top: 20px;
	border-top: 1px solid #e1e1e1;
}
.comments-area > .comment-list > li:first-child {
	border: none;
	padding-top: 0;
}
.comment-user {
	float: left;
	margin-right: 20px;
}
.comment-detail {
	display: table-cell;
	padding-bottom: 10px;
}
.comment-detail .user-name {
	text-transform: uppercase;
	color: #b9a06f;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.1;
}
ul.child-comment {
	margin-left: 63px;
}
.comment-detail .post-info ul {
	display: inline-flex;
}
.comment-detail .post-info ul li {
	float: left;
	margin-right: 15px;
	font-size: 14px;
	padding: 0;
}
/* --------------- Comment CSS End ------------------ */

/* Product Detail Page CSS End */

.items-Reviews .main-form input, .items-Reviews .main-form textarea {
	border: none;
}
.checkout-section .input-box {
	margin-bottom: 23px;
}
.check-box span {
	display: inline-block;
	float: left;
	height: 18px;
	margin-right: 2px;
	width: 18px;
	z-index: 0;
}
.check-box.left-side {
	margin-top: 10px;
}
.forgot-password {
	color: #0040a5;
	text-decoration: underline;
	font-weight: 600;
	display: inline-block;
}
.contact-info .p-0 {
	border-right: 1px solid #e1e1e1;
}
.contact-info .p-0:last-child {
	border: medium none;
}
.nav-tabs li{
	padding-left: 6px;
}
.btn-remove-comment{
	padding: 0px 16px;
    border: 1px solid #ee1f50;
    color: #ed2a3f;
    border-radius: 3px;
}
.postbox-header {
    background-color: transparent;
    padding: .3rem 1.25rem;
    position: relative;
    display: flex;
    align-items: center;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom: 1px solid #c3c4c7;
}
.postbox-header .card-tools {
    float: right;
    margin-right: -.625rem;
}

.postbox-header .card-title {
    flex: 1;
}

.Avatar-post {
    color: #2271b1;
    border-bottom: 1px solid #2271b1;
}

.footer-addPost {
    padding: 0.45rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 0 solid rgba(0, 0, 0, .125);
}
.title-post input{
    font-size: large;
    padding: 1.35rem .3rem;
}
.inside{
  padding-top: 10px;
}
